.trip-display {
    // margin-left: 50px;
    background-color: #EADDCA;
    padding: 10px;
    width: 400px;
    border: 15px solid rgb(98, 50, 7);
    margin: 20px;
}

.match-trip-display {
    // margin-left: 50px;
    background-color: #EADDCA;
    padding: 10px;
    width: 400px;
    border: 15px solid rgb(98, 50, 7);
    margin: 20px;
}


.delete-button {
    margin: 0;
    display: flex;
    border-radius: 3px;
}